.DS_Store
HELP.md
!**/src/main/**
!**/src/test/**

*.db

### Gradle ###
.gradle
!gradle/wrapper/gradle-wrapper.jar

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/